body {
  margin: 0;
  height: 100vh; /* can also use viewport units (height: 100vh) */
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
}
  
#container {
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

/* ------- Header style ------- */
header {
  background: #f88;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

/* ------- Main style (contenido principal) ------- */
/*
  flex: 1 --> toma el espacio restante en altura que
            que no toman el header y el footer
  overflox: auto --> activar el scroll
*/
main {
  flex: 1; 
  overflow: auto;
  height: 60px;
  font-size: 24px;
}

section {
  height: 100%; /* cada div ocupa 100% del main */
  overflow: auto; /* recomendado */
  border-bottom: 1px solid;
  background: lightgreen;
}
  
section:last-child {
  border: none;
}

/* ------- Header style ------- */
footer {
  background: lightblue;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
}