*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid; 
  grid-template-columns: repeat(12,1fr); 
  grid-template-rows: repeat(12,1fr);

  grid-gap: 10px; /* Declara el espacio entre columnas y filas */
}
.grid-container > div {
  border: 2px solid black;  /* Declara el borde de las columnas */
}

.grid1{
  grid-row: 1 / 5; /* Declara la fila de inicio y final */
  grid-column: 1 / 3;  /* Declara la columna de inicio y final de la columna 1 hasta la columna 2*/
  background-color:firebrick ;
}
.grid2{
  grid-column: 3 / 5;  /* Declara la columna de inicio y final de la columna 3 hasta la columna 4*/
  background-color:green ;
}
.grid3{
  grid-column: 5 / 7;  /* Declara la columna de inicio y final de la columna 5 hasta la columna 6*/
  background-color:blue ;
}
.grid4{
  grid-column:7;
  grid-row: 7;
  background-color:yellow ;

}
.grid10{
  grid-column: 3/5;  /* Declara la columna de inicio y final de la columna 7 hasta la columna 8*/
  grid-row: 8;
  background-color: aquamarine;
}
.grid12{
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 9;  
  grid-row-end: 12;
  background-color: fuchsia;
}